body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}


.full-page-background {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-image: url('./assets/back2.jpg'); /* public folder path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  
}

/* Overlay for opacity */
.full-page-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* adjust opacity here */
  z-index: 1;
  
}

/* Ensure content is above overlay */
.full-page-background > * {
  position: relative;
  z-index: 2;
  color: white; /* optional for text visibility */
}

